{% extends "base.html" %}

{% block head_content %}
{%load static %}
<title>Auction App</title>
{% endblock %}

{% block container %}
<div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-width-1-4">
        <h4>Filters</h4>
        <h5>Arrange</h5>
        <div uk-form-custom="target: > * > span:first-child">
            <select class="uk-select">
                <option value="">Please select...</option>
                <option></option>
                <option></option>
            </select>
            <button class="select-button uk-button uk-button-default" type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
            </button>
        </div>
        <h5>Minimum bid</h5>
        <input class="uk-range" type="range">

        <h5>Category</h5>
        <div class="uk-child-width-1-1 uk-grid">
            <label class="checkbox"><input type="checkbox"> A</label>
            <label class="checkbox"><input type="checkbox"> B</label>
            <label class="checkbox"><input type="checkbox"> C</label>
            <label class="checkbox"><input type="checkbox"> D</label>
            <label class="checkbox"><input type="checkbox"> E</label>
        </div>
    </div>
    <div class="uk-width-3-4 product-list">
        <div class="uk-child-width-1-3 uk-grid-medium" uk-grid>
            {% for item in '2222222222' %}
            <div>
                <div class="uk-card uk-card-default product">
                    <div class="uk-card-media-top product-image">
                        <img  src="{% static 'images/image.svg' %}" alt="" width="50px" height="50px">
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-child-width-expand" uk-grid>
                            <div class="uk-width-2-3">
                                <div class="product-info">
                                    <h4>product no. 1</h4>
                                    <p>Lorem ipsum</p>
                                </div>
                            </div>
                            <div class="product-button uk-width-1-3">
                                <button class="uk-button uk-button-primary">Bid now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}
